body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right, #d6f0ff, #f0f9ff);
    text-align: center;
    overflow-x: hidden;
}

h1 {
    margin-top: 50px;
    color: #2c6f9e;
}

.page {
    display: none;
    animation: fadeIn 0.6s ease-in-out;
}

.page.active {
    display: block;
}

.main-btn {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background-color: #5ec6ff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.main-btn:hover {
    background-color: #3db4f2;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.grid.small {
    grid-template-columns: repeat(2, 200px);
}

.option {
    background-color: #8fd8ff;
    padding: 40px 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.option:hover {
    transform: scale(1.08);
    background-color: #6ec8f7;
}

.back-btn {
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #5ec6ff;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.cat {
    position: fixed;
    width: 120px;
    z-index: -1;
    opacity: 0.8;
}

.cat1 {
    top: 10%;
    left: 5%;
}

.cat2 {
    bottom: 10%;
    right: 5%;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
