body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #a8d8ff, #d6f0ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #003366;
}

.container {
  width: 95%;
  max-width: 600px;
  text-align: center;
}

.section {
  display: none;
  animation: fadeIn 0.4s ease-in-out;
}

.active {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 20px 0;
}

.card {
  background: white;
  padding: 30px 10px;
  border-radius: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card:hover {
  transform: scale(1.07);
  background: #e6f7ff;
}

.card p {
  font-size: 14px;
  margin-top: 10px;
}

.main-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background: #4da6ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.main-btn:hover {
  background: #3399ff;
}

.back-btn {
  background: none;
  border: none;
  color: #003366;
  cursor: pointer;
  margin-top: 15px;
}

.cat-gif {
  width: 150px;
  border-radius: 15px;
  margin: 15px 0;
}

.final-text {
  font-size: 18px;
  margin-top: 15px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
