body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right, #e6f7ff, #f2fbff);
    text-align: center;
}

h1 {
    color: #2b7dbd;
    margin-top: 40px;
}

.container {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.option {
    background-color: #a8e0ff;
    padding: 40px 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.option:hover {
    transform: scale(1.08);
    background-color: #7fd0ff;
}

.main-btn {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background-color: #5ec6ff;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

.main-btn:hover {
    background-color: #3db4f2;
}

.gif {
    width: 200px;
    margin-top: 30px;
}

.fade {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.slide-in {
    animation: slideIn 0.4s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
