body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right, #e6f7ff, #f2fbff);
    text-align: center;
}

h1 {
    color: #2b7dbd;
    margin-top: 40px;
}

.container {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 15px;
    margin-top: 30px;
    padding: 0 20px;
}


.option {
    background-color: #a8e0ff;
    padding: 25px 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}


.option:hover {
    transform: scale(1.08);
    background-color: #7fd0ff;
}

.main-btn {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    background-color: #5ec6ff;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}


.main-btn:hover {
    background-color: #3db4f2;
}

.gif {
    width: 60%;
    max-width: 250px;
    margin-top: 25px;
}


.fade {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.slide-in {
    animation: slideIn 0.4s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.memory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 30px;
    padding: 0 20px;
}

.memory-card {
    background-color: #ffe4f2;
    padding: 20px;
    border-radius: 15px;
    font-size: 14px;
    transition: 0.3s;
}

.memory-card:hover {
    transform: scale(1.05);
}
